# Server
NODE_ENV=prod
PORT=4000

# DB PSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=auth
DB_PASSWORD=auth

# JWT
JWT_ACCESS_SECRET=dev-access-secret-change-me
JWT_REFRESH_SECRET=dev-refresh-secret-change-me
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d
